:host{
  width:100%;
}
.content{
  padding:20px;
  .productos{
    width:70%;
    .header{
      color: #FFF;
      font-size: 1rem;
      font-weight: bold;
      display:flex;
      flex-direction:row;
      .title{
        display:flex;
        flex:1;
        align-content:center;
        align-items:center;
      }
      .search{
        display:flex;
        flex:1;
        justify-content:flex-end;
        .add{
          margin-right:20px;
          button{
            height: 30px;
            align-items:center;
            padding-top:5px;
            align-content:center;
          }
        }
        .search_btn{
          i{
            font-size:1.2rem;
          }
          input{
            margin-left: 10px;
            height: 30px;
          }
        }
      }
    }
    .body{
      min-height:700px;
      .product{
        height:200px;
        width:200px;
        border: 1px solid #999;
      }
    }
  }
}