@font-face {
    font-family: "Lato Regular";
    src: url(../fonts/Lato-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Lato Light";
    src: url(../fonts/Lato-Light.ttf) format("truetype");
}
@font-face {
    font-family: "Lato Italic";
    src: url(../fonts/Lato-Italic.ttf) format("truetype");
}
@font-face {
    font-family: "Lato Black";
    src: url(../fonts/Lato-Black.ttf) format("truetype");
}
// DEFINIMOS TAMAÑOS DE LETRAS
$font_21pt: 13pt;