<div class="content">
	<div class="card productos">
		<div class="card-header card-primary header">
			<div class="title">Productos</div>
			<div class="search"><i class="fa fa-search" aria-hidden="true"></i><input type="text" placeholder="Buscador"/></div>
		</div>
		<div class="card-block body">
		    <h4 class="card-title">Special title treatment</h4>
		    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		    <a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
</div>