<header class="header">
	<div class="tracker">
		<div class="status">MENÚ > HOME</div>
	</div>
	<div class="brand">
		<div class="space">
		</div>
		<div class="logo">
			<div class="img"></div>
		</div>
		<div class="toolbox">
			<div class="search">
				<label>
					<i class="fa fa-search" aria-hidden="true"></i>
					<input type="text" class="search_input"/>
				</label>
			</div>
			<div class="acount">
				<button class="acount_btn"><i class="fa fa-user" aria-hidden="true"></i> Mi cuenta</button>
			</div>
			<div class="cart">
				<button class="cart_btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Mis compras</button>
			</div>
		</div>
	</div>
	<div class="menu">
		<div class="item">SUSCRIPCIÓN</div>
		<div class="item">TIENDA</div>
		<div class="item">NOSOTROS</div>
		<div class="item">MAYORISTA</div>
		<div class="item">BLOG</div>
	</div>
</header>