@import '../../../css/fonts.scss';
@import '../../../css/colors.scss';
:host{
	position:relative;
	width:100%;
	height:auto;
}
header{
	position:relative;
	display:block;
	width:100%;
	height:auto;
	.tracker{
		display:flex;
		height: 40px;
		width: 100%;
		background: $gris30;
		flex-direction:row;
		align-items:center;
		.status{
			display:flex;
			margin-left: 70px;
			min-width:100px;
			font-family: "Lato Regular";
		}
	}
	.brand{
		display:flex;
		height: 200px;
		background: #000;
		width: 100%;
		padding:20px;
		.space{
			display:flex;
			flex:2;
		}
		.logo{
			display:flex;
			background: #333;
			flex:1;
			justify-content:center;
			align-items:center;
			.img{
				display:flex;
				height:116px;
				width:312px;
				background-image: url('assets/img/logo.png');
			}
		}
		.toolbox{
			display:flex;
			background: #666;
			flex:2;
			flex-direction:row;
			justify-content:flex-end;
			.search{
				display:flex;
				margin-right:15px;
				label{
					i{
						position:absolute;
						margin:6px;
					}
					input{
						padding-left: 30px;
						height:30px;
					}
				}
			}
			.acount{
				display:flex;
				margin-right:15px;
				button{
					width:150px;
					height:30px;
					padding:0;
					font-family: "Lato Regular";
					background-color: $dorado;
					font-size: $font_21pt;
					align-items:center;
				}
			}
			.cart{
				display:flex;
				button{
					width:160px;
					height:30px;
					padding:0;
					font-family: "Lato Regular";
					background-color: $negro;
					font-size: $font_21pt;
					align-items:center;
				}
			}
		}
	}
	.menu{
		display:flex;
		width:100%;
		height: 40px;
		background:#777;
		flex-direction:row;
		justify-content:center;
		align-items:center;
		.item{
			display:flex;
			min-width: 200px;
			width: 20%;
			height:100%;
			max-width: 250px;
			justify-content:center;
			align-items:center;
			font-family: "Lato Regular";
			color: $dorado;
			font-size:$font_21pt;
			cursor:pointer;
		}
	}
}