<div class="content">
	<div class="card templates" *ngIf="view=='showcase'">
		<div class="card-header text-white bg-primary header">
			<div class="title">Administradores</div>
			<div class="search">
				<div class="add"><button class="btn btn-success" (click)="createAdmin()">Agregar</button></div>
				<div class="search_btn"><i class="fa fa-search" aria-hidden="true"></i><input type="text" placeholder="Buscador" (keyup)="searchby(searchtxt.value)" (blur)="search_hide(searchtxt)" #searchtxt/></div>
			</div>
		</div>
		<div class="card-block body">
		    <table class="table table-striped">
			  <thead>
			    <tr>
			      <th>#</th>
			      <th>Email</th>
			      <th>Nombre</th>
			      <th>Rol</th>
			      <th>Acciones</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let admin of admins_showcase; let i = index">
			      <td>{{ (i+1) }}</td>
			      <td>{{ admin.EMAIL }}</td>
			      <td>{{ admin.NAME +' '+ admin.LASTNAME  }}</td>
			      <td>{{ admin.ROLE.NAME  }}</td>
			      <th>
			      	<button class="btn btn-warning" placement="top" ngbTooltip="Editar" (click)="editAdmin(admin)"><i class="fa fa-pencil-square-o" aria-hidden="true" ></i></button>
			    	<button class="btn btn-danger" placement="top" ngbTooltip="Eliminar" (click)="delete(admin)"><i class="fa fa-trash" aria-hidden="true" ></i></button>
			    	<button class="btn btn-primary" placement="top" ngbTooltip="Cambiar Password" (click)="changePassword(admin)"><i class="fa fa-refresh" aria-hidden="true"></i></button>
			      </th>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
	<div class="create" *ngIf="view=='create'">
		<form (submit)="addAdmin($event, name.value, lastname.value, email.value, password.value)" ngNativeValidate>
			<div class="card templates_create">
				<div class="card-header text-white bg-success header">
					<div class="title">Crear un nuevo administrador</div>
				</div>
				<div class="card-block body">
				  	<div class="form-group">
					    <label for="exampleInputEmail1">Nombre</label>
					    <input type="text" class="form-control" name="name" id="name_admin" aria-describedby="name_help" placeholder="Nombre del usuario" value="" required [value]="(admin.NAME)?admin.NAME:''" #name>
					    <small id="name_help" class="form-text text-muted">Nombre del usuario.</small>
				  	</div>
				  	<div class="form-group">
					    <label for="exampleInputEmail1">Apellido</label>
					    <input type="text" class="form-control" name="lastname" id="lastname_admin" aria-describedby="lastname_help" placeholder="Apellido del usuario" value="" required [value]="(admin.LASTNAME)?admin.LASTNAME:''" #lastname>
					    <small id="lastname_help" class="form-text text-muted">Apellido del usuario.</small>
				  	</div>
				  	<div class="form-group">
					    <label for="exampleInputEmail1">Email</label>
					    <input type="text" class="form-control" name="email" id="email_admin" aria-describedby="email_help" placeholder="Email del usuario" value="" required [value]="(admin.EMAIL)?admin.EMAIL:''" #email>
					    <small id="lastname_help" class="form-text text-muted">Email del usuario.</small>
				  	</div>
				  	<div class="form-group" >
					    <label for="exampleInputEmail1">Password</label>
					    <input type="password" class="form-control" name="password" id="password_admin" aria-describedby="password_help" placeholder="Contraseña" value="" required [value]="(admin.PASSWORD)?admin.PASSWORD:''" #password>
					    <small id="lastname_help" class="form-text text-muted">Contraseña del usuario.</small>
				  	</div>
				  	<div class="form-group">
					    <label for="producto_description">Rol</label>
					    <div class="category_selector">
					    	 <select class="form-control"  [value]="(admin.ROLE)?admin.ROLE.ID_ROLE:-1" (change)="changeRole(roleop.value)" #roleop>
						    	<option value="-1">Seleccione una categoria</option>
						    	<option *ngFor="let role of roles; let i = index" [value]="role.ID_ROLE">{{ role.NAME }}</option>
						    </select>
					    </div>
					    <small id="description_help" class="form-text text-muted">Rol del usuario.</small>
					</div>
				</div>
			</div>
			<div class="card templates_create_actions">
				<div class="card-header text-white bg-success header">
					<div class="title">Acciones</div>
				</div>
				<div class="card-block body">
					<button type="submit" class="btn btn-success" *ngIf="view=='create'">Agregar</button>
					<button type="submit" class="btn btn-success" *ngIf="view=='edit'">Editar</button>
					<button type="button" (click)="backtoshowcase()" class="btn btn-warning">Volver</button>
				</div>
			</div>
		</form>
	</div>
	<div class="create" *ngIf="view=='edit'">
		<form (submit)="addAdmin($event, name.value, lastname.value, email.value)" ngNativeValidate>
			<div class="card templates_create">
				<div class="card-header text-white bg-success header">
					<div class="title">Crear un nuevo administrador</div>
				</div>
				<div class="card-block body">
				  	<div class="form-group">
					    <label for="exampleInputEmail1">Nombre</label>
					    <input type="text" class="form-control" name="name" id="name_admin" aria-describedby="name_help" placeholder="Nombre del usuario" value="" required [value]="(admin.NAME)?admin.NAME:''" #name>
					    <small id="name_help" class="form-text text-muted">Nombre del usuario.</small>
				  	</div>
				  	<div class="form-group">
					    <label for="exampleInputEmail1">Apellido</label>
					    <input type="text" class="form-control" name="lastname" id="lastname_admin" aria-describedby="lastname_help" placeholder="Apellido del usuario" value="" required [value]="(admin.LASTNAME)?admin.LASTNAME:''" #lastname>
					    <small id="lastname_help" class="form-text text-muted">Apellido del usuario.</small>
				  	</div>
				  	<div class="form-group">
					    <label for="exampleInputEmail1">Email</label>
					    <input type="text" class="form-control" name="email" id="email_admin" aria-describedby="email_help" placeholder="Email del usuario" value="" required [value]="(admin.EMAIL)?admin.EMAIL:''" #email>
					    <small id="lastname_help" class="form-text text-muted">Email del usuario.</small>
				  	</div>
				  	<div class="form-group">
					    <label for="producto_description">Rol</label>
					    <div class="category_selector">
					    	 <select class="form-control"  [value]="(admin.ROLE)?admin.ROLE.ID_ROLE:-1" (change)="changeRole(roleop.value)" #roleop>
						    	<option value="-1">Seleccione una categoria</option>
						    	<option *ngFor="let role of roles; let i = index" [value]="role.ID_ROLE">{{ role.NAME }}</option>
						    </select>
					    </div>
					    <small id="description_help" class="form-text text-muted">Rol del usuario.</small>
					</div>
				</div>
			</div>
			<div class="card templates_create_actions">
				<div class="card-header text-white bg-success header">
					<div class="title">Acciones</div>
				</div>
				<div class="card-block body">
					<button type="submit" class="btn btn-success" *ngIf="view=='edit'">Editar</button>
					<button type="button" (click)="backtoshowcase()" class="btn btn-warning">Volver</button>
				</div>
			</div>
		</form>
</div>