:host{
  width:100%;
}
.content{
  padding:20px;
  height:100%;
  .categorias{
    display:flex;
    width:100%;
    height:100%;
    flex-direction:row;
    .showcase{
      display:flex;
      width:80%;
      height:100%;
    }
    .detail{
      display:flex;
      width: calc(20% - 20px);
      margin-left: 20px;
      height:100%;
      .header{
        height: 55px;
      }
      .body{
        display:flex;
        flex-direction:column;
        align-items:center;
        .title{
          margin:10px 0px;
        }
        .category_selected{
          .img_obj{
            background-color: #CCC;
            background-size:cover;
            background-repeat:no-repeat;
            background-position:center center;
            height:200px;
            width:200px;
          }
          .label_obj{
            height:20px;
            width:200px;
            background-color:#000;
            color:#FFF;
            text-align:center;
          }
        }
        .tools{
          cursor:pointer;
          font-size:1.5rem;
          flex-direction:row;
          display:flex;
          margin: 10px 0px;
          button{
            display:flex;
            width:50px;
            color:#FFF;
            justify-content:center;
            margin: 10px;
          }
        }
        .detalle{
          padding:10px 0px;
          font-size:0.9rem;
        }
      }
    }
    .header{
      color: #FFF;
      font-size: 1rem;
      font-weight: bold;
      display:flex;
      flex-direction:row;
      .title{
        display:flex;
        flex:1;
        align-content:center;
        align-items:center;
      }
      .search{
        display:flex;
        flex:1;
        justify-content:flex-end;
        .add{
          margin-right:20px;
          button{
            height: 30px;
            align-items:center;
            padding-top:5px;
            align-content:center;
          }
        }
        .search_btn{
          i{
            font-size:1.2rem;
          }
          input{
            margin-left: 10px;
            height: 30px;
          }
        }
      }
    }
    .body{
      min-height:700px;
      height:100%;
      padding:15px;
      display:flex;
      flex-direction:row;
      align-items:flex-start;
      .category{
        height:220px;
        width:200px;
        border: 1px solid #999;
        margin-right:10px;
        cursor:pointer;
        .img_obj{
          background-size:cover;
          background-repeat:no-repeat;
          background-position:center center;
          height:200px;
          width:200px;
        }
        .label_obj{
          height:20px;
          width:200px;
          background-color:#000;
          color:#FFF;
          text-align:center;
        }
      }
      .category_add{
        height:200px;
        width:200px;
        border:1px solid #999;
        display:flex;
        justify-content:center;
        align-items:center;
        align-content:center;
        flex-direction:column;
        background-size:contain;
        background-position:center center;
        cursor:pointer;
        i{
          font-size:2rem;
          margin-bottom:20px;
        }
      }
    }
  }
  .create{
      display:flex;
      flex-direction:row;
      height:100%;
      form{
        display:flex;
        height:100%;
        width:100%;
        flex-direction:row;
        .categorias_create{
          width:80%;
          .body{
            padding: 20px;
            #description_category{
              height:200px;
            }
            .images{
              height:300px;
              .add_image{
                height:300px;
                width:300px;
                border:1px solid #333;
                display:flex;
                justify-content:center;
                align-items:center;
                align-content:center;
                flex-direction:column;
                background-size:cover;
                background-repeat:no-repeat;
                background-position:center center;
                cursor:pointer;
                i{
                  font-size:2rem;
                }
                .cerrar{
                  display:flex;
                  width:100%;
                  height:50px;
                  font-size:1.5rem;
                  justify-content:center;
                  color: white;
                  cursor:pointer;
                }
              }
            }
          }
        }
        .categorias_create_actions{
          width: calc(20% - 20px);
          margin-left: 20px;
          .body{
            padding: 20px;
            button{
              width:80%;
              margin-bottom:10px;
              color: #FFF;
            }
          }
        } 
      }
      
    }
}